<div class="modal fade" id="modalShowOneBook" tabindex="-1" role="dialog" aria-labelledby="myModallabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModallabel">enter a book number</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <input type="text" class="form-control" id="bookNumber">
                    <button type="button" class="btn btn-primary m-1" id="showOneBook">Show</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCountBooks" tabindex="-1" role="dialog" aria-labelledby="myModallabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModallabel">There are <span id="showCount"> </span> books</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <button class="btn btn-primary m-1" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAddBook" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="myModallabel">Enter a new book</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name">
                                <label for="name">name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" id="genre">
                                <label for="name">genre</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" id="pages">
                                <label for="name">pages</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary m-1 text-center" id="addBook">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="alertGuest" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">You need to sign in!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default d-block mx-auto" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>